# datasets
*.zip
*.tar.gz

# b-it-bot datasets
2d_object_detection/atwork_augmented_and_real_robocup_2019
2d_object_detection/atwork_realdata_combined

# Summer Competition 2022
2d_object_detection/summer_competition_22_dataset

# Robocup 2023
robocup_2023_docs/TDP/videos/
robocup_2023_docs/train tickets
AstA/December 2022
AstA/Student Parliament_forms
2d_object_detection/robocup_2023_dataset
!2d_object_detection/robocup_2023_dataset/atwork_dataset/Labelme2YOLO
!2d_object_detection/robocup_2023_dataset/atwork_dataset/*.py


